{% extends "vv_app/base.html" %}
{% block content %}
    <h1>About Viral Volunteers</h1>
    <article class="media content-section">
        <p class="article-content">
            This is a notice board for people looking to help out with the covid-19 pandemic. If you have an <b>idea</b> for how others can help, need to make an <b>appeal</b> for assistance, or you know an organization that is offering <b>opportunities</b> for volunteers, this site may be for you.
        
            This board is not for healthcare professionals or paid opportunities.
        
            It is lightly curated to prevent misuse.
        </p>
    </article>
{% endblock content %}