{% extends "base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                Contributed by <a class="mr-2" href="{% url 'user-notice_list' object.author.username %}">{{ object.author }}</a>on {{ object.created_at }}
                {% if object.last_modified|date != object.created_at|date %}
                <br><small class="text-muted">Updated {{ object.last_modified}}</small>
                {% endif %}
                {% if object.author == user %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'notices-edit' object.id %}">Edit This Notice</a>
                {% endif %}
            </div>                
            <h2 class="article-title">{{ object.title }}</a></h2>
            <p class="article-content">{{ object.body | safe }}</p>
            <h3>Location:</h3>
            <p class="article-content">{{ object.province }}{% if object.province and object.country %}, {% endif %}{{ object.country }} {{ object.postal }}</p>
            <h3>Further details:</h3>
            <p class="article-content">Link: {{ object.web|urlize }}</p>
            <p class="article-content">Email: {{ object.email|urlize }}</p>
            <p class="article-content">Phone: {{ object.phone }}</p>
            <h4>Still active or just an archive?</h4>
            <p class="article-content">{{ object.active|yesno:"Active,Archived" }}</p>
        </div>
    </article>
{% endblock content %}
