{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<article class="media content-section">
    <div class="card card-body table-responsive">
        <table class="table table-striped table-bordered table-sm">
            <tr>
                <th>Modified</th>
                <th>Category</th>
                <th class="text-nowrap">Title</th>
                <th>Country</th>
                <th>State</th>
            </tr>
            {% for notice in notices %}
            <tr>
                <td>{{notice.last_modified|date:"jMY "}}</td>
                <td>{{notice.category|capfirst}}</td>
                <td><a href="{% url 'notices-notice_detail' notice.id %}">
                        {{notice.title}}
                    </a></td>
                <td>{{notice.country}}</td>
                <td>{{notice.province}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</article>
{% endblock content %}

{% block search%}
<div class="content-section">
    {% include "search.html" %} 
</div>
{% endblock search%}