{% extends "base.html" %}
{% load widget_tweaks %}
{% block search%}
<div class="content-section">
    <form method="get">
        <div class="input-group">
                {% render_field filter.form.title class="input form-control form-control-sm" placeholder="Title Keywords" %}
            <div class="input-group">
                {% render_field filter.form.start_date class="input form-control form-control-sm" placeholder="mm/dd/yyyy" %}
                <span class="input-group-addon"> &nbsp - &nbsp </span>
                {% render_field filter.form.end_date class="input form-control form-control-sm" placeholder="mm/dd/yyyy" %}
            </div>
            <div class="input-group">
                <small>
                    <tag class="ml-2">{% render_field filter.form.category class="input form-check form-check-inline" %}</tag>
                    <input type="submit" class="btn btn-secondary btn-sm mt-1" value="Search">
                    <tag class="ml-2">active notices{% render_field filter.form.active checked="checked" %}</tag>
                </small>
            </div>
        </div>
    </form>
</div>
{% endblock search%}

{% block content %}
<style>
    tr.ft-row{
        cursor: pointer;
    }
    tr.ft-row:hover { color: rgb(1, 4, 194); }
</style>
{% load render_table from django_tables2 %}
    <div class="table-responsive">
        {% render_table table %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.0.slim.min.js" integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function($) {
            $("tr").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock content %}