{% extends "base.html" %}
{% block content %}
<h1 class="mb-3" >Notices by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for notice in notices %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    Contributed by <a class="mr-2" href="{% url 'user-notice_list' notice.author.username %}">{{ notice.author }}</a> {{ notice.created_at }}
                    {% if notice.last_modified|date != notice.created_at|date %}
                        <br><small class="text-muted">Updated {{ notice.last_modified}}</small>
                    {% endif %}
                    {% if notice.active == False %}
                        <em class="text-danger">This notice is archived</em>
                    {% endif %}
                </div>
                <h2><a class="article-title" href="{% url 'notices-notice_detail' notice.id %}">{{ notice.title }}</a></h2>
                <p class="article-content">{{ notice.body | safe }}</p>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}