{% extends "base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h2>About Viral Volunteers</h2>
        <p class="article-content">
            This is a notice board for people looking to help out with the covid-19 pandemic. If you have an <b>idea</b> for how others can help, need to make an <b>appeal</b> for assistance, or you know an organization that is offering <b>opportunities</b> for volunteers, this site may be for you.

            <em>People seeking assistance</em> can look for <b>services</b> being offered by individuals and organizations.

            Healthcare professionals probably want to look elsewhere.
            Paid opportunities should not be listed.

            Lightly curated to prevent misuse.
        </p>
    </div>
</article>
{% endblock content %}